@import url('https://fonts.googleapis.com/css?family=Roboto+Slab:100,300,400,700');

$black: #000;
$red: #c11300;
$yellow: #eca700;
$white: #fff;

$Roboto: 'Roboto Slab', serif;

body {
  font-family: $Roboto;
  font-weight: 400;
}

@import 'normalize/import-now';
@import 'disclaimer';
@import 'header';
@import 'main';
@import 'footer';
