{
  "extends": "airbnb",
  "globals": {
    "document": true,
    "fetch": true,
    "FileReader": true,
    "gtag": true,
    "Image": true,
    "window": true
  },
  "rules": {
    "react/jsx-filename-extension": [
      1,
      {
        "extensions": [".js", ".jsx"]
      }
    ],
    "no-plusplus": [
      2,
      {
        "allowForLoopAfterthoughts": true
      }
    ]
  }
}
