<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <!-- COMMON TAGS -->
  <meta charset="utf-8">
  <title>#EBMNAO - Devolvam o nosso Flamengo vencedor!</title>
  <!-- Search Engine -->
  <meta name="description" content="Acima de tudo Rubro-Negro! Apoie essa causa e vamos lutar para ter o nosso
    Flamengo vencedor de volta! #ebmnao">
  <meta name="image" content="http://ebmnao.herokuapp.com/images/torcida-flamengo.jpg">
  <!-- Schema.org for Google -->
  <meta itemprop="name" content="#EBMNAO - Devolvam o nosso Flamengo vencedor!">
  <meta itemprop="description" content="Acima de tudo Rubro-Negro! Apoie essa causa e vamos lutar para ter o nosso
    Flamengo vencedor de volta! #ebmnao">
  <meta itemprop="image" content="http://ebmnao.herokuapp.com/images/torcida-flamengo.jpg">
  <!-- Twitter -->
  <meta name="twitter:card" content="summary">
  <meta name="twitter:title" content="#EBMNAO - Devolvam o nosso Flamengo vencedor!">
  <meta name="twitter:description" content="Acima de tudo Rubro-Negro! Apoie essa causa e vamos lutar para ter o
    nosso Flamengo vencedor de volta! #ebmnao">
  <meta name="twitter:site" content="@leandrolemabjj">
  <meta name="twitter:creator" content="@leandrolemabjj">
  <meta name="twitter:image:src" content="http://ebmnao.herokuapp.com/images/torcida-flamengo.jpg">
  <!-- Open Graph general (Facebook, Pinterest & Google+) -->
  <meta name="og:title" content="#EBMNAO - Devolvam o nosso Flamengo vencedor!">
  <meta name="og:description" content="Acima de tudo Rubro-Negro! Apoie essa causa e vamos lutar para ter o nosso
    Flamengo vencedor de volta! #ebmnao">
  <meta name="og:image" content="http://ebmnao.herokuapp.com/images/torcida-flamengo.jpg">
  <meta name="og:url" content="http://ebmnao.herokuapp.com">
  <meta name="og:site_name" content="#EBMNAO - Devolvam o nosso Flamengo vencedor!">
  <meta name="og:locale" content="pt_BR">
  <meta name="og:type" content="website">
  <link rel="stylesheet" type="text/css" href="style.css" />
  <link rel="icon" type="image/png" sizes="16x16" href="">
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-127069665-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());
    gtag('config', 'UA-127069665-1');
  </script>
  <title>
    <%= htmlWebpackPlugin.options.title %>
  </title>
</head>

<body>
  <div id="root"></div>
</body>

</html>